html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0px;
}
.login-image {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.buttons {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.561);
    display: flex;
    flex-wrap: wrap;
    margin-left: 550px;
    margin-top: 240px;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 10px;
}
.buttons button {
    background-color: rgba(224, 98, 52, 0.774);
    margin: 10px 0px 5px 45px;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
